#quote-box{
    width: 80vw;
    height: 400px;
    margin: 50px auto;
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  5px 5px 9px #5a5a5a,
                -5px -5px 9px #ffffff;
    texto: all 4s linear;

}

#text{
    padding: 50px;
    font-size: 1.5em;

}

#author{
    font-size: 1.3em;
    text-align: center;
}

.quote-a{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

#tweet-quote{
    font-size: 2.7em;
    color: rgb(67, 65, 65);
}

#tweet-quote:hover{
    color: rgb(121, 117, 117);
}

#new-quote{
    padding: 10px;
    font-size: 1.3em;
    border-radius: 5px;
    border: 2px solid grey;
}

#new-quote:hover{
    background-color: rgb(196, 196, 196);
    border: 2px solid rgb(86, 86, 86);
}

@keyframes texto{
    0%{opacity: 0}
    100%{opacity: 100}
}